# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

*          @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k
/.github/  @ranajahanzaib

/src/             @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k
/stories/         @ranajahanzaib @Shoaibv2 @Nadiakhanv2 @Abdullah-k
