# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
test/node_modules
.pnp
.pnp.js

# Testing
coverage
.nyc_output
test/**/out*
test/**/next-env.d.ts
.DS_Store
e2e-tests
test/tmp/**


# Production
lib
build
dist
dist
.next
target
.out

# Editors
**/.idea
**/.#*

# Examples
examples/**/out
examples/**/.env*.local

pr-stats.md
test-timings.json

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
pids
*.cpuprofile
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Firebase
.firebase

# Flutter
.dart_tool
.idea
.pub-cache
.packages

# Comment following line if you'd like to commit and push google-services.json to GitHub
*google-services.json

# Python
venv
